{% extends 'se/base.html' %}
{% block title %}机场噪声查询{% endblock title %}
{% block base %}

    <div class="container mt-2">
        <br>
        <form method="get">
            <label>点位： <input type="text" name="position"> </label>
            <label>日期： <input type="text" name="acq_date"> </label>
            <label>记录时间：<input type="date" name="cal_date"> </label>
            <button type="submit" name="filter" class="btn btn-outline-primary">筛选</button>
            <button type="submit" name="export" class="btn btn-outline-success">导出csv</button>
            <button type="submit" name="cleartab" class="btn btn-outline-danger"
                    onclick="return confirm('此操作会删除所有后台数据，您确定要继续吗？')">清空数据库
            </button>
        </form>
    </div>
    <div class="container mt-2">
        <table class="table table-hover table-bordered text-center" id="tabap">
            <thead class="table-success">
            <tr>
                <th>序号</th>
                <th>点位</th>
                <th>日期</th>
                <th>分析员</th>
                <th>N<sub>1</sub></th>
                <th>N<sub>2</sub></th>
                <th>N<sub>3</sub></th>
                <th>N<sub>总</sub></th>
                <th>L<sup>—</sup><sub>EPN</sub></th>
                <th>L<sub>WECPN</sub></th>
                <th>背景</th>
                <th>记录时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for item in queryset %}
                <tr>
                    <td>{{ item.pri }}</td>
                    <td class="text-primary">{{ item.position }}</td>
                    <td class="text-primary">{{ item.acq_date }}</td>
                    <td>{{ item.analylize }}</td>
                    <td>{{ item.n1 }}</td>
                    <td>{{ item.n2 }}</td>
                    <td>{{ item.n3 }}</td>
                    <td>{{ item.nall }}</td>
                    <td>{{ item.lamaxpb }}</td>
                    <td class="text-primary">{{ item.lwecpn }}</td>
                    <td>{{ item.bg }}</td>
                    <td>{{ item.cal_date }}</td>
                    <td>
                        <form method="get">
                            <button type="submit" class="btn btn btn-outline-warning btn-custom-xs" name="del"
                                    value={{ item.pri }}>删除
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <style>
        .btn-custom-xs {
            padding: 0.125rem 0.125rem;
            font-size: 1rem;
            line-height: 0.92rem;
            border-radius: 0.25rem;
        }
    </style>
    <script>
        $(document).ready(function () {
            $('#tabap').DataTable({
                {#paging: false, // 关闭分页功能#}
                searching: false, // 关闭搜索功能
                "iDisplayLength": 15,
                "aLengthMenu": [10, 15, 100, 1000],
                "aaSorting": [[ 0, "desc" ]], // 默认按第一列倒叙排序
            });
        });

    </script>


{% endblock base %}