{% extends 'se/base.html' %}
{% block title %}BadApple!!{% endblock title %}

{% block other_base %}
    {% csrf_token %}
    <pre style="color: indigo; font-size: 12px; text-align: center" id="txt">
        <div class="spinner-border text-primary"></div>    {#    pre标签会保留空格和换行，并且字符等宽#}
                        _
                       | \
                       | |
                       | |
  |\                   | |
 /, ~\                / /
X     `-.....-------./ /
 ~-. ~  ~              |
    \             /    |
     \  /_     ___\   /
     | /\ ~~~~~   \ |
     | | \        || |
     | |\ \       || )
    (_/ (_/      ((_/
    </pre>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            // 对后端发送Fetch请求
            fetch('', { //不写就是朝当前地址提交[与form表单的action参数相同]
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value
                },
                body: JSON.stringify({
                    'frameindex': ''
                }) // 这里传输的数据
            })
                .then(response => response.json())
                .then(data => {
                    const txts = data.txts; // 从后端返回的数据中提取文本
                    let i = 0;
                    let intv = setInterval(function () {
                        if (i >= txts.length - 1) {
                            clearInterval(intv);
                        }
                        document.getElementById('txt').innerText = txts[i]; // 更新文本内容
                        i++;
                    }, 1000 / 30) // 每秒30帧
                })
                .catch(error => {
                    console.error('Error:', error);
                });
        });
    </script>
{% endblock other_base %}
