{% extends 'se/base.html' %}
{% block title %}{{ appname }}{% endblock title %}
{% block base %}
    <hr>
    <form class="mb-3" method="post" enctype="multipart/form-data" id="uploadForm" onsubmit="showprogress()">
        {% csrf_token %}
        <input type="file" name="upf" id="fileInput" style="display: none;" multiple>
        <div id="dropZone" style="border: 2px dashed #007bff; padding: 20px; cursor: pointer;">
            拖拽文件到这里或点击选择文件
        </div>
        <button type="submit" id="submitButton" style="display: none;">提交</button>
    </form>

    <p style="color: #f513ea">食用方式：1、拖拽文件到上方区域或点击选择文件；2、文件自动上传；3、下载。</p>
    <hr>

    <h1 style="color: blue">结果下载</h1>
    <table class="table table-hover">
        <thead class="table-success">
        <tr>
            <th>uploaded</th>
            <th>download</th>
            <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
            <tr>
                <td>{{ data.filein }}</td>
                <td><a href='/media/{{ appname }}/{{ data.fileout }}'>{{ data.fileout }}</a></td>
                <td>{{ data.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>
        const dropZone = document.getElementById('dropZone');
        const fileInput = document.getElementById('fileInput');
        const form = document.getElementById('uploadForm');
        const submitButton = document.getElementById('submitButton');

        // 点击拖拽区域时，模拟点击文件输入元素
        dropZone.addEventListener('click', () => {
            fileInput.click();
        });

        // 当文件被拖拽到拖拽区域上方时，防止默认行为并改变背景色
        dropZone.addEventListener('dragover', (event) => {
            event.preventDefault();
            dropZone.style.backgroundColor = '#e9ecef';
        });

        // 当文件离开拖拽区域时，恢复背景色
        dropZone.addEventListener('dragleave', (event) => {
            event.preventDefault();
            dropZone.style.backgroundColor = '';
        });

        // 当文件被释放到拖拽区域时，处理文件上传
        dropZone.addEventListener('drop', (event) => {
            event.preventDefault();
            dropZone.style.backgroundColor = '';
            const files = event.dataTransfer.files;
            handleFiles(files);
        });

        // 处理文件选择对话框中的文件
        fileInput.addEventListener('change', () => {
            submitButton.click();
        });

        // 处理拖拽的文件
        function handleFiles(files) {
            // 创建一个新的 DataTransfer 对象
            const dataTransfer = new DataTransfer();
            for (let i = 0; i < files.length; i++) {
                dataTransfer.items.add(files[i]);
            }
            fileInput.files = dataTransfer.files;
            submitButton.click();
        }
    </script>
{% endblock base %}
