{% extends 'se/base.html' %}
<!--ptc、ptw、opr、ppr(上传文件处理)的模板-->
{% block title %}{{ appname }}{% endblock title %}
{% block base %}
    <hr>
    <form class="mb-3" method="post" enctype="multipart/form-data" onsubmit=dosubmit()>
        {% csrf_token %}
        <input type="file" name="upf" >
        <input type="submit" id="submit">
    </form>

    <p style="color: #f513ea">食用方式：1、点击“选择文件”（可选多个）；2、点击“提交”；3、下载。</p>
    <hr>

    <h1 style="color: blue">结果下载</h1>
    <table class="table table-hover">
        <thead class="table-success">
        <tr>
            <th>uploaded</th>
            <th>download</th>
            {#<th>用户</th>#}
            <th>操作时间</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
            <tr>
                <td>{{ data.filein }}</td>
                <td><a href='/media/{{ appname }}/{{ data.fileout }}'>{{ data.fileout }}</a></td>
                {#<td>{{ data.ip }}</td>#}
                <td>{{ data.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock base %}
