{% extends 'se/base_with_upload.html' %}
{% block other_upload %}
    <table class="table table-hover">
        <thead class="table-success">
        <tr>
            <th>upload</th>
            <th>download</th>
            <th>time</th>
        </tr>
        </thead>
        <tbody>
        {% for data in datas %}
            <tr>
                <td>{{ data.filein }}</td>
                <td><a href='/media/{{ appname }}/{{ data.fileout }}'>{{ data.fileout }}</a></td>
                <td>{{ data.timestamp }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock other_upload %}
