{% extends 'se/appbase.html' %}
{% block title %}绩效分值{% endblock title %}
{% block active_wpscore %}active{% endblock active_wpscore %}

{% block form %}
    <hr>
    <a href="/admin/seui/scores/">管理员登录: administrator, 123456</a>
    <hr>
    <h1 style="color: blue">分值录入</h1>
    <form action="/se/wpscore/" method="post">{% csrf_token %}
        <table>{{ form }}</table>
        <br>
        <input type="submit" style="height:50px;width: 200px">
        <br>
    </form>
{% endblock form %}

{% block instructions %}{% endblock instructions %}

{% block tab %}
    <hr>
    <h1 style="color: blue">分值信息</h1>
    <table class="records">
        <thead class="">
        <tr>
            <th>测试代码</th>
            <th>测试名称</th>
            <th>分值</th>
            <th>类别</th>
            <th>科室</th>
        </tr>
        </thead>
        <tbody>
        {% for score in scores %}
            <tr>
                <td>{{ score.测试代码 }}</td>
                <td>{{ score.测试名称 }}</td>
                <td>{{ score.分值 }}</td>
                <td>{{ score.类别 }}</td>
                <td>{{ score.科室 }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock tab %}

{% block others %}{% endblock others %}
